.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
 border-style: groove;
 border-color: aquamarine; 
 border-width: 12px;
}

